/*Gabriel McElroy
CIS133DA
Portfiolio CSS 
7/13/2023
REquirements
1. navbar fixed! id navbar
2. media query - mobile first block display
to display flex at a larger screen
3. Height of welcome to 100vh height of viewport
*/

html {
    scroll-padding-top: 4rem;
    min-height: 100%;

}

/*same body CSS to match portfolio and tribute pages*/
body {
    background: linear-gradient(to bottom right, rgb(186, 206, 243), #ffae009f 20%, #ebf8e1, #a3d4fd, orange) no-repeat;
    background-size: cover;
    font-family: 'Ysabeau SC', sans-serif;
    min-width: fit-content;
    font-size: 18px;
    font-weight: bolder;
    text-indent: 4%;



}

header {
    position: relative;
    top: 4rem;
    padding: 0 14px 30px 14px;
    height: 100vh;
}

.placeholder {
    color: black;

}

h1 {
    text-align: center;
    font-size: 70px;
    padding-top: 0px;
    text-decoration: solid white 50%;
}

h2 {
    font-size: 40px;
    padding-top: 0%;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: underline;
    text-align: center;
    color: black;
    font-style: italic;


}


h4 {
    font-size: 40px;
    text-align: center;
    font-style: italic;
}

h3,
p {
    font-size: 20px;
    text-align: center;
    margin-top: auto;
    font-style: italic;


}

h5,
p {
    font-size: 25px;
}

iframe {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

main {
    padding: 1.5em;
    padding-top: 2em;


}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}





.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 orangered;
}

.container {
    padding-left: 2px;
    padding-right: 2px;
    display: block;
}

article {
    padding-top: 20px;

}

.Services {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px;
}

.project-tile {
    height: 250px;
    width: 100%;
    border: 2px solid black;
    background: linear-gradient(to bottom right, rgb(186, 206, 243), #ffae009f 20%, #ebf8e1, #a3d4fd, orange) no-repeat;
}

.emailBox {
    text-align: center;
}

/*sticky nav bar components*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: orangered;
}

#navbar {
    margin-top: auto;
    padding-right: 20%;
    width: 100%;
    overflow: hidden;
    background-color: #333;
    position: fixed;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 20px;
    text-decoration: none;
    font-size: 25px;
}

.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

@media only screen and (min-width: 750px) {
    #project-tiles {
        display: flex;
        border:none #333;

        justify-content: space-between;
    }

    #project-tiles a {
        flex-basis: 30%;
    }

    iframe {
        flex-basis: 30%;
    }




}

button:hover {
    background-color: #ffffff;
    font-size: 18px;
    border-color: orangered;
    cursor: pointer;


}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 4px;
}

footer {
    margin-top: 30px;
    text-align: center;
    font-size: 30px;
}